@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root {
    --blue:hsl(246, 80%, 60%);
    --light-red-work: hsl(15, 100%, 70%);
    --soft-blue-play: hsl(195, 74%, 62%);
    --light-red-study: hsl(348, 100%, 68%);
    --lime-green-exercise: hsl(145, 58%, 55%);
    --violet-social: hsl(264, 64%, 52%);
    --soft-orange-selfcare: hsl(43, 84%, 65%);
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
    --default-font-card-titles: 18px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    font-weight: 300;
    color: #fff;
}
body{
    height: 100vh;
}
.main-container{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-blue);
}



.grids{
    display: grid;
    grid-template-columns: repeat(4, 170px);
    grid-template-rows: repeat(2, 185px);
    gap: 10px 15px;
    grid-template-areas: 

    "a b c d"
    "a e f g"
    ;
}


/* grid */
.grid-profile{
    grid-area: a;
    background-color: var(--dark-blue);
    border-radius: 8px;   
}
.grid-work{
    grid-area: b;
    margin: 4px 0 0 0; 
}
.grid-play{
    grid-area: c;
    margin: 4px 0 0 0;
}
.grid-study{
    grid-area: d;
    margin: 4px 0 0 0;
}
.grid-exercise{
    grid-area: e;
    margin: 4px 0 0 0;
}
.grid-social{
    grid-area: f;
    margin: 4px 0 0 0;
}
.grid-selfcare{
    grid-area: g;
    margin: 4px 0 0 0;
}
.upper-grid{
    /* margin: 10px 0 0 0; */
    height: 50%;
    background-color: var(--blue);
    border-radius: 8px;
    padding: 30px 0 0px 20px;
}
.upper-grid img{
    border: 2px solid #fff;
    border-radius: 50%;
}
.upper-grid p{
    margin: 20px 0 0 0;
    color: var(--pale-blue);
}
.upper-grid h2{
    margin: 8px 0 0 0;
}
.lower-grid{
    padding: 10px 0 0 15px;
}
.lower-grid h5{
    margin: 15px 0 0 0;
    color: var(--pale-blue);
}
.lower-grid h5:hover{
    color: #fff;
    cursor: pointer;
}

/* .grid-work{
    position: relative;
    padding: -15px 0 0 0;
    border-radius: 8px;
} */
.work-outer-part{
    /* position: relative; */
    border-radius: 8px;
    background-color: var(--light-red-work);

}
.play-outer-part{
    border-radius: 8px;
    background-color: var(--soft-blue-play);
}
.study-outer-part{
    border-radius: 8px;
    background-color: var(--light-red-study);
}
.exercise-outer-part{
    border-radius: 8px;
    background-color: var(--lime-green-exercise);
}
.social-outer-part{
    border-radius: 8px;
    background-color: var(--violet-social);
}
.selfcare-outer-part{
    border-radius: 8px;
    background-color: var(--soft-orange-selfcare);
}
.icon-top{
    display: flex;
    justify-content: right;
}
.work-icon{
    width: 35px;
    height: 35px;
    right: 0;
    margin-left: auto;
    padding: 0 10px 0 0;
    margin: 0 0 -10px 0;
    position: relative;
    
}
.inner-part{
    position: relative;
    border-radius: 8px;
    background-color: var(--dark-blue);
}
.inner-part:hover{
    background-color: var(--desaturated-blue);
    /* opacity: 0.9; */
    cursor: pointer;
}
.inner-part h2{
    font-size: 40px;
    padding: 25px 0 0 20px;
}
.inner-part h6{
    padding: 10px 0 30px 23px;
    color: var(--pale-blue);
}
.upper-desc{
    display: flex;
    justify-content: space-between;
}
.upper-desc h3{
    padding: 5px 0 0 0;
    font-size: var(--default-font-card-titles);
}
.inner-part h3{
    padding: 10px 0 0 23px;
    font-size: var(--default-font-card-titles);
}
.inner-part img{
    width: 13px;
    height: 4px;
    padding: 20px 25px 0 0;
}
.inner-part img:hover{
    cursor: pointer;
}


@media screen and (max-width: 375px){
    *{
        margin: 0;
        padding: 0;
        font-family: 'Rubik';
        font-weight: 300;
        color: #fff;
    }
    body{
        height: 100%;
        width: 100%;
    }
    .main-container{
        display: flex;
        height: 100%;
        justify-content: center;
        background-color: var(--very-dark-blue);
        padding: 0 0 30px 0;
    }
    .grids{
        width: 100%;
        margin: 20px 20px 50px 20px;
        display: flex;
        flex-direction: column;
       
    }
    .grid-profile{
        grid-area: a;
        background-color: var(--dark-blue);
        border-radius: 8px;
        margin: 5px 0 0 0;   
    }
    .upper-grid{
        display: flex;
        height: 50%;
        background-color: var(--blue);
        border-radius: 10px;
        padding: 20px 0 20px 20px;
    }
    .reportto{
        margin: 0 0 0 15px;
        display: flex;
        flex-direction: column;
    }
    .upper-grid img{
        border: 2px solid #fff;
        border-radius: 50%;
    }
    .upper-grid p{
        margin: 0px 0 0 0;
        color: var(--pale-blue);
        font-size: 14px;
    }
    .upper-grid h2{
        margin: 8px 0 0 0;
        font-size: 20px;
    }
    
    .lower-grid{
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 20px 20px;
    }
    .lower-grid h5{
        margin: 15px 0 0 0;
        color: var(--pale-blue);
    }
    .lower-grid h5:hover{
        color: #fff;
        cursor: pointer;
    }
    .inner-part{
        position: relative;
        border-radius: 8px;
        background-color: var(--dark-blue);
    }
    .upper-desc{
        padding: 10px 0 0 0;
        display: flex;
        justify-content: space-between;
    }
    .lower-desc{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 22px 0;
    }
    .upper-desc h3{
        padding: 10px 0 0 20px;
        font-size: var(--default-font-card-titles);
    }
    .upper-desc img{
        padding: 15px 20px 0 0;
    }
    .lower-desc h2{
        padding: 10px 0 0 20px;
        font-size: 26px;
    }
    .lower-desc h6{
        padding: 10px 20px 0 0;
    }
    

}